{% extends "base.html" %}

{% block content %}
{% set add,recover, change, delete, access, deny = 'Добавлен', 'Восстановлен', 'Изменен', 'Удален', 'Разрешен', 'Отказан' %}
<form id="button_download" method="get" action="/receive_logs"></form>
<div class="container">
     <div class="row">
        <div class="col-md-4 self-align-end">
            <button class="btn btn-primary fa fa-download" type="submit" form="button_download" name="download_button">&nbsp;Загрузить</button>
        </div>
           <div class="col-md-4 self-align-center">
            <input type="search" id="search" class="form-control" placeholder="Поиск">
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Доступ
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Пользователь
            </button>
            <button class="nav-link" id="nav-device-tab" data-bs-toggle="tab" data-bs-target="#nav-device"
                    type="button" role="tab" aria-controls="nav-device" aria-selected="false">Устройства
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Действие</th>
                    <th>Зона</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>UID</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody id="searchable">
                {% for i in rows|reverse %}
                {% if i.entry_action == 'Разрешен' or i.entry_action == 'Отказан' %}
                <tr {% if i.entry_action ==  access %}
                    bgcolor="#8fd8be"
                    {% elif i.entry_action == deny %}
                    bgcolor="#ff6666"
                    {% endif %}>
                    <td>{{i.entry_action}}</td>
                    <td>{{i.zone}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.middle_name}}</td>
                    <td>{{i.uid}}</td>
                    <td>{{i.date}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table  table-sm">
                <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>UID</th>
                    <th>Статус</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody id="searchable">
                {% for i in rows|reverse %}
                {% if not i.entry_action %}
                <tr
                        {% if i.action== add %}
                        bgcolor="#8fd8be"
                        {% elif i.action== recover %}
                        bgcolor="#73bcff"
                        {% elif i.action== change %}
                        bgcolor="#ffcc5c"
                        {% elif i.action== delete %}
                        bgcolor="#ff6666"
                        {% endif %}>
                    <td>{{i.last_name}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.middle_name}}</td>
                    <td>{{i.uid}}</td>
                    <td>{{i.action}}</td>
                    <td>{{i.date}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-device" role="tabpanel" aria-labelledby="nav-device-tab">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>IP</th>
                    <th>Порт</th>
                    <th>Зона</th>
                    <th>Действие</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody id="searchable">
                {% for i in rows|reverse %}
                {% if i.device_name %}
                <tr {% if i.action== add %}
                        bgcolor="#8fd8be"
                        {% elif i.action== change %}
                        bgcolor="#ffcc5c"
                        {% elif i.action== delete %}
                        bgcolor="#ff6666"
                        {% endif %}>
                    <td>{{i.device_name}}</td>
                    <td>{{i.ip}}</td>
                    <td>{{i.port}}</td>
                    <td>{{i.zone}}</td>
                    <td>{{i.action}}</td>
                    <td>{{i.date}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#searchable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
{% endblock %}