{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row justify-content-center align-items-center" style="padding-top: 40px">
    <div class="card text-center border-dark w-50">
        <div class="card-body">
            <h3 class="card-title"> Карточка пользователя </h3>
            <br></br>
            <form method="post" action="/add_user" autocomplete="off">
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px;">&nbsp;Фамилия</span>
                        <input id="last_name" type="text" class="form-control" name="last_name"
                               placeholder="Иванов" pattern="^[A-Za-zА-Яа-яЁё]+$" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px">&nbsp;Имя</span>
                        <input id="first_name" type="text" class="form-control" name="first_name"
                               placeholder="Иван" pattern="^[A-Za-zА-Яа-яЁё]+$" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px">&nbsp;Отчество</span>
                        <input id="middle_name" type="text" class="form-control" name="middle_name"
                               placeholder="Иванович" pattern="^[A-Za-zА-Яа-яЁё]+$">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px">Пол</span>
                        <select id="gender" name="gender" class="custom-select form-control" required>
                            <option value="Male">Мужчина</option>
                            <option value="Female">Женщина</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px">&nbsp;UID</span>
                        <input id="uid" type="text" class="form-control" name="uid"
                               placeholder="123456789" pattern="^[0-9]+$">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <span class="input-group-text" style="width: 150px">&nbsp;Роль</span>
                        <select id="role" name="role" class="custom-select form-control" onchange="select_change()" required>
                            <option value="1">Админ</option>
                            <option value="2" selected>Пользователь </option>
                        </select>
                    </div>
                </div>
                    <div id="check" style="display: none">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <span class="input-group-text" style="width: 150px">Пароль</span>
                                <input id="password" type="password" class="form-control" name="password"
                                       placeholder="Пароль">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" dropdown input-group mb-4">
                            <span class="input-group-text" style="width: 150px">Выберите зоны</span>
                            <button class="btn btn-dark dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-bs-toggle="dropdown"
                                    aria-expanded="true">
                                Список зон
                            </button>
                            <ul class="dropdown-menu form-group options" aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-input"><label></label><input type="checkbox"
                                                                                 id="checkAll" required> Выбрать
                                    все</label></li>
                                <li class="dropdown-input"><label></label><input type="checkbox"
                                                                                 name="checkbox" value="1" required>
                                    Зона №1</label></li>
                                <li class="dropdown-input"><label></label><input type="checkbox"
                                                                                 name="checkbox" value="2" required>
                                    Зона №2</label></li>
                                <li class="dropdown-input"><label></label><input type="checkbox"
                                                                                 name="checkbox" value="3" required>
                                    Зона №3</label></li>
                                <li class="dropdown-input"><label></label><input type="checkbox"
                                                                                 name="checkbox" value="4" required>
                                    Зона №4</label></li>
                            </ul>
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="btn-primary btn-lg">Добавить</button>
                    </center>
            </form>
        </div>
    </div>
</div>
</div>
<script>

$("#checkAll").click(function () {
     $('input:checkbox').not(this).prop('checked', this.checked);
 });




</script>

<script>
function select_change()
{
if (role.selectedIndex == "1"){
document.getElementById('check').style.display = 'none';
} else {
document.getElementById('check').style.display = 'block';
}
}

</script>

</script>

<script>
    $(function(){
    var requiredCheckboxes = $('.options :checkbox[required]');
    requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    });
});
</script>

{% endblock %}